<div id="fisl-header">
  <h2 id="fisl12-logo">
    <a href="<%= '/' + profile.identifier %>">
      <span>FISL 12</span>
    </a>
  </h2>

  <div id="fisl-info">
    <div id="fisl-data">29 JUN / 02 JUL 2011</div>
    <div id="fisl-local">Centro de Eventos PUCRS - Porto Alegre - Brasil</div>
  </div>

  <div id="fisl-menu">
    <ul>
      <li id="first-item"><a href="<%= '/' + profile.identifier + '/sobre-o-evento' %>"><span>O evento</span></a></li>
      <li><a href="http://fisl.org.br/12/papers_ng/public/fast_grid?event_id=1"><span>Programação</span></a></li>
      <li><a href="<%= '/' + profile.identifier + '/palestrantes' %>"><span>Palestrantes</span></a></li>
      <li><a href="http://fisl.org.br/12/greve/" target="_blank"><span>Inscrições</span></a></li>
      <li><a href="<%= '/' + profile.identifier + '/patrocine' %>"><span>Patrocine</span></a></li>
      <li><a href="<%= '/' + profile.identifier + '/divulgue' %>"><span>Divulgue</span></a></li>
      <li id="last-item"><a href="<%= '/' + profile.identifier + '/horarios' %>"><span>Horários</span></a></li>
    </ul>
  </div>

  <div id="fisl-agende">
    <span>Agende-se para o fisl13!</span>
    <span>De 25 a 28/07/2012</span>
  </div>

  <div id="fisl-certificado">
    <a href="http://fisl.org.br/12/greve"><span>Certificados</span></a>
  </div>

  <div id="fisl-search">
    <%= form_tag( { :controller => 'profile_search', :profile => profile.identifier}, :method => 'get', :class => 'search_form' ) do %>
      <%= text_field_tag 'q', @q, :title => _("Find in %s's content") % profile.short_name, :class => 'box' %>
      <%#= submit_tag %>
      <button class="btn"><%= _('Search') %></button>
    <% end %>

  </div>
</div>
