@import url(../profile-base/style.css);

html {
  background: url(imgs/topo-amarelo.png) no-repeat top center;
}

body {
  background: url(imgs/body-bg.png) repeat-y center center;
}

#wrap-1 {
  width: 100%;
  position: relative;
  background: url(imgs/wrap1-bg.png) no-repeat bottom center;
}

#wrap-2 {
  width: 960px;
  margin: auto;
  border: none;
  color: #555753;
}

.controller-profile .login-box .button-bar {
  padding-top: 0px;
}

#user {
  top: -270px;
}

#user form {
  display: none;
}

#site-title {
  display: none;
}

#content {
  margin-top: 10px;
}

#main-content-wrapper-1,
#main-content-wrapper-2,
#main-content-wrapper-3,
#main-content-wrapper-4,
#main-content-wrapper-5,
#main-content-wrapper-6,
#main-content-wrapper-7,
#main-content-wrapper-8 {
  background-image: none;
}
#main-content-wrapper-4 {
  border-left: 1px solid #ADACAC;
  border-right: 1px solid #ADACAC;
}

#main-content-wrapper-8 {
  padding-top: 0px;
}

#content .main-block h1,
#not-found h1,
#content .no-boxes h1,
#access-denied h1 {
  font-variant: normal;
  border-bottom: none;
  color: #4F4F51;
}

#addThis {
  text-align: left;
}

/************************** theme header ***************************/

#theme-header {
  height: 283px;
  width: 980px;
  margin: auto;
  margin-top: -2px;
  background: url(imgs/topo.png) no-repeat;
}

#fisl-header {
  position: relative;
}

#fisl12-logo {
  margin: 2px 0px 0px -30px;
  position: relative;
}

#fisl12-logo,
#fisl12-logo a {
  width: 265px;
  height: 210px;
}

#fisl12-logo a {
  background: url(imgs/logo-fisl12.png) no-repeat;
  display: block;
  margin: auto;
}

#fisl12-logo span {
  display: none;
}

#fisl-info {
  color: #444;
  font-size: 31px;
  font-weight: bold;
  letter-spacing: -1px;
  right: 0px;
  top: 135px;
  position: absolute;
}

#fisl-local {
  font-size: 14px;
}

#fisl-menu {
  position: absolute;
  top: 212px;
}

#fisl-menu ul {
  padding-left: 29px;
  margin-top: 2px;
  margin-left: -8px;
}

#fisl-menu li {
  float: left;
  list-style: none;
}

#fisl-menu a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform:uppercase;
  color: #FFF;
  background: url(imgs/menu-sep.png) no-repeat right;
  padding: 11px 20px;
}

#fisl-menu a:hover {
  text-decoration: underline;
}

#fisl-menu li#first-item a {
  padding-left: 14px;
}

#fisl-menu li#last-item a {
  background: none;
}

#fisl-agende,
#fisl-agende a {
  color: #000;
}

#fisl-agende {
  font-size: 31px;
  font-weight: bold;
  text-transform: uppercase;
  left: 280px;
  top: 40px;
  position: absolute;
}

#fisl-agende span {
  display: block;
}

#fisl-agende a,
#fisl-certificado a {
  text-decoration: none;
}

#fisl-certificado a:hover {
  text-decoration: underline;
}

#fisl-certificado {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  left: 15px;
  top: 245px;
  position: absolute;
}

#fisl-certificado a {
  color: #FFF;
}

#fisl-search {
  position: absolute;
  top: 246px;
  right: 0px;
  width: 329px;
}

#fisl-search .box {
  width: 210px;
  height: 25px;
  border: none;
  font-size: 18px;
  padding: 12px 5px 1px;
  display: block;
  float: left;
  margin-right: 4px;
  background: url(imgs/search-field.png) repeat-y;
}

#fisl-search .btn {
  font-size: 16px;
  font-weight: bold;
  width: 105px;
  height: 38px;
  border: none;
  color: #7D7D7D;
  display: block;
  float: right;
  background: url(imgs/search-btn.png) repeat-y;
}

/************************** theme footer ***************************/

#theme-footer {
  margin: 0px;
  padding-bottom: 0px;
  width: 100%;
  height: 150px;
  font-size: 10px;
  background: #FFF url(imgs/footer-top.png) repeat-x top center;
  position: relative;
}

#theme-footer a {
  color: #555;
}

#footer-content {
  width: 980px;
  margin: auto;
  text-align: left;
  padding-top: 20px;
  position: relative;
}

#logos {
  margin-left: 205px;
}

#logos div {
  float: left;
  text-align: center;
  margin-right: 30px;
}

#logos a {
  display: inline-block;
  margin: 0px 15px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
#logos a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

#logos a span {
  display: none;
}

.msie #logos h2 {
  font-size: 14px;
}

#footer-links {
  text-align: right;
  float: none;
  font-weight: bold;
  clear: both;
  right: 0px;
  top: 35px;
  position: absolute;
}
#footer-links a {
  font-size: 11px;
}

.who-pslbr {
  background: url(imgs/logo-pslbr.png);
  width: 56px;
  height: 50px;
}
.who-asl {
  background: url(imgs/logo-asl.png);
  width: 70px;
  height: 70px;
}

.transm-radio {
  background: url(imgs/logo-radio-sl.png) no-repeat;
  width: 95px;
  height: 51px;
}
.transm-tv {
  background: url(imgs/logo-tv-sl.png) no-repeat;
  width: 93px;
  height: 50px;
}

#footer-content .cc {
  margin-top: 20px;
  margin-bottom: 5px;
}

#footer-content .cc a {
  background: url(imgs/cc.png) no-repeat center right;
  width: 88px;
  height: 31px;
  display: inline-block;
  margin: 0px auto;
}

#footer-content .cc span {
  display: none;
}

#footer-control-panel-link {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

#footer-control-panel-link a {
  color: #FFF;
}

#footer-control-panel-link a:hover {
  color: #555753;
}

/***************************** blocks *****************************/

#content .block-title {
  border: none;
  font-size: 20px;
  font-variant: normal;
}

#content .box-2 .block {
  padding-bottom: 10px;
  background: url(imgs/block-bottom.png) no-repeat center bottom;
}

#content .box-3 .block {
  padding-bottom: 10px;
  background: url(imgs/block-bottom-right.png) no-repeat center bottom;
}

.box-2 .block-inner-2 {
  margin-left: 10px;
}

#content .link-list-block li a {
  padding-left: 0px;
  font-size: 12px;
  line-height: 16px;
  color: #555753;
  background: transparent;
}

#content .link-list-block li a:hover {
  color: #2D2B2B;
  border-right: none;
  background: transparent;
}

#content .link-list-block li a.link-this-page {
  color: #555753;
  background-color: transparent;
}

#content .link-list-block li a.link-this-page,
#content .link-list-block li a.link-this-page:hover {
  border-right: none;
}

.raw-html-block .flag-pt,
.raw-html-block .flag-es,
.raw-html-block .flag-eo,
.raw-html-block .flag-en {
  width: 21px;
  height: 16px;
  display: block;
  float: right;
  margin-left: 10px;
  background: no-repeat center center;
}

.raw-html-block .flag-pt {
  background-image: url(imgs/brasil.png);
}

.raw-html-block .flag-es {
  background-image: url(imgs/espanha.png);
}

.raw-html-block .flag-eo {
  background-image: url(imgs/esperanto.png);
}

.raw-html-block .flag-en {
  background-image: url(imgs/england.png);
}

.raw-html-block #fisl-languages {
  height: 30px;
}

.raw-html-block #fisl-languages span {
  display: none;
}

.slideshow-block h3.block-title {
  margin-bottom: 0px;
}

.slideshow-block .slideshow-container {
  margin-bottom: 0px;
  margin-top: -10px;
}

.slideshow-block a,
#block-111685 a {
  color: #7D7D7D;
  text-decoration: none;
}

.slideshow-block a:hover,
#block-111685 a:hover {
  text-decoration: underline;
}

.block.slideshow-block a:visited,
#block-111685 a:visited {
  color: #7D7D7D;
  font-weight: bold;
}

/***************** block titles *******************/

#content .box-3 .block-title {
  color: #7D7D7D;
  font-size: 14px;
  text-align: right;
}

/* Primeiro bloco */
#content .box-2 .block .block-title {
  color: #224469;
}
#content .box-2 .block h3.block-title span {
  background: url(imgs/block1-title-bg.png) no-repeat left center;
  padding-left: 22px;
}

/* Segundo bloco */
#content .box-2 .block + .block .block-title {
  color: #861D58;
}
#content .box-2 .block + .block h3.block-title span {
  background: url(imgs/block2-title-bg.png) no-repeat left center;
  padding-left: 22px;
}

/* Terceiro bloco */
#content .box-2 .block + .block + .block .block-title {
  color: #DB1C52;
}
#content .box-2 .block + .block + .block h3.block-title span {
  background: url(imgs/block3-title-bg.png) no-repeat left center;
  padding-left: 22px;
}

/* Quarto bloco e demais */
#content .box-2 .block + .block + .block + .block .block-title {
  color: #ED883A;
}
#content .box-2 .block + .block + .block + .block h3.block-title span {
  background: url(imgs/block-title-bg.png) no-repeat left center;
  padding-left: 22px;
}

/***************** highlight block *******************/

.highlights-container {
  border: none;
  background-color: #ADACAC;
  width: 100% !important;
}

.highlights-block-pager {
  margin-top: 10px;
}

.block a.highlights-image-link {
  position: absolute;
  left: 0px;
}

.block a.highlights-image-link:hover {
  text-decoration: none;
}

.highlights-label {
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: -5px;
  font-size: 14px;
}

/* Primeira imagem */
.highlights-image-link .highlights-label {
  background-image: url(imgs/label-1.png);
}
.highlights-block-pager a {
  height: 20px;
  width: 30px;
  margin-left: 0px;
  padding: 10px 15px;
  color: transparent;
  background: url(imgs/label-1.png);
}
.highlights-block-pager a.activeSlide,
.highlights-block-pager a.activeSlide:visited,
.highlights-block-pager a:visited,
.highlights-block-pager a:hover {
  color: transparent;
}

/* Segunda imagem */
.highlights-image-link + .highlights-image-link .highlights-label {
  background-image: url(imgs/label-2.png);
}
.highlights-block-pager a + a {
  background: url(imgs/label-2.png);
}

/* Terceira imagem */
.highlights-image-link + .highlights-image-link + .highlights-image-link .highlights-label {
  background-image: url(imgs/label-3.png);
}
.highlights-block-pager a + a + a {
  background: url(imgs/label-3.png);
}

/* Quarta imagem */
.highlights-image-link + .highlights-image-link + .highlights-image-link + .highlights-image-link .highlights-label {
  background-image: url(imgs/label-4.png);
}
.highlights-block-pager a + a + a + a {
  background: url(imgs/label-4.png);
}

/* edição do bloco */
.controller-profile_design #content .block.highlights-block {
  margin-bottom: 60px;
}

.controller-profile_design .highlights-block .button-bar {
  margin-top: 40px;
}

/*************************** content *******************************/

#content .blog-post .title a {
  color: #555;
}

.blog-post {
  background: url(imgs/posts-sep.png) no-repeat center bottom;
  padding-top: 0px;
}

.msie .blog-post {
  padding-top: 10px;
}

#content .main-block .created-at,
#content .main-block .created-at a {
  color: #43607E;
}

#article {
  text-align: left;
  line-height: 20px;
}

#article.blog #article-header h1 {
  display: none;
  border: 1px solid green;
}

#article.blog #addThis {
  display:none;
}

#content .blog-posts {
  margin-top: 10px;
}

#article .blog-feed-link {
  display: none;
}

#article .article-body {
  overflow: hidden;
}

#article-parent {
  display: none;
}

#article .article-body a.icon {
  padding: 0px 0px 3px 20px;
  border: none;
  background-repeat: no-repeat;
}

#article .article-body a.icon:hover {
  background-color: transparent;
}

#article .sponsor-type {
  font-size: 25px;
  font-weight: bold;
  padding: 10px 5px;
  color: #555753;
  background-color: #CCC;
}
